
.memo {
    display: inline-block;
}

.memo-textarea {
    margin-bottom: 10px;
}

.sec-content {
    margin: 15px;
    background-color: #F2F2F2;
    border-radius: 5px;
    padding: 10px;
}

.memo-btn {
    display: flex;
    justify-content: flex-end;
}

article {
    padding: 20px;
    margin: 15px;
    border: 1px solid #dbdbdc;
}

.sub-heading {
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #526A9B;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #7db4e6;/*左線*/
    font-size: 20px;
    margin-bottom: 15px;
}

.badge-size {
    display: inline;
    font-size:  15px;
}

hr {
    color: #dbdbdc;
}

.bottom-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}

.save-btn, .request-btn {
    margin-left: 15px;
}

.judge-btn {
    align-self: flex-end;
}

.collapsed > .when-open,
.not-collapsed > .when-closed {
  display: none;
}

.advice-content {
    border: 1px solid #dbdbdc;
    border-radius: 5px;
    padding: 5px;
}

.record {
    color: gray;
}
