body {
  margin: 0 !important;
  padding: 0 !important;
}
.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3f96e8;
  height: 70px;
}


h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
}

.content {
  display: flex;
  justify-content: flex-start;
}
.section{
  display: flex;
  flex-direction: row;
}

button + button {
  margin-left: 10px;
}

.logout {
  height: 39px;
  margin-top: 7px;
}

.menu {
  color: #fff;
  border-color: #fff;
  height: 39px;
  margin-top: 7px;
  border-radius: 50px;
}

.menu:hover {
  background-color: #fff;
}
